.App-div{
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}

@media only screen and (max-width: 600px) {
  .time{
      position: relative;
      top: 40px;
  }
}


.time{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  font-weight: 900;
  padding-bottom: 10px;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;

}