.App-div{
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}

body{
  font-family: "Fira Sans", "Lato", Arial, sans-serif !important;
  
}
/* .App-div-dark{
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  background: #121212;
} */

@media only screen and (max-width: 600px) {
  .time{
      position: relative;
      top: 40px;
  }
  .staus-app{
    height: 100% !important;
  }
  .App-div{
    margin-top: 10%;
  }
}


.time{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  font-weight: 700;
  padding-bottom: 10px;
}

.copyright{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 20px;
  color: gray;
  margin-bottom: 10px;
  
}

.copy-div a{
  color: rgb(112, 137, 190);
  text-decoration: none !important;

}


