


.status-page{
    display: flex;
    justify-content: space-between;;
}

@media only screen and (max-width: 600px) {
    .status-page{
        flex-direction: column;
        margin-top: 8% !important;
    }
    .stat-div{
        width: 98% !important;
    }
    .info-status{
        width: 98% !important;
        margin-top: 10px;
    }
    .bd-stat{
        width: 85% !important;
        padding: 9px !important;
        word-spacing: 1px !important;
    }
    .worldLoader{
        margin-top: 5% !important;
    }

}
.status-main{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    
}
.info-status{
    width: 29%;
}

.stat-div{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.bd-stat{
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% auto;
    border-radius: 5px;
    border-left: 5px solid #176f7c;
}
.bd-text{
    text-align: center;
    margin-top: 2%;
    display: block;
    font-size: 1.2rem;
    font-weight: 600 !important;
    letter-spacing: 1px;
    
}
.bd-text span{
    background: #1D2939;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.bd-stat-numbers{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    word-spacing: 2px;
}
.bd-stat-numbers div:nth-child(1){
    color: #17a2b8
}
.bd-stat-numbers div:nth-child(2){
    color: rgb(173, 75, 75)
}
.bd-stat-numbers div:nth-child(3){
    color: #28a745
}



@media only screen and (max-width: 768px) {
    .status-main{
        flex-direction: column;
        justify-content: center;
    }
    .paper-1 , .paper-2 , .paper-3 , .paper-4{
        width: 80% !important;
        height: auto !important;
        padding: 20px !important;
        display: flex;
        margin: 10px !important;
        flex-direction: row !important;
        justify-content: space-evenly !important;
        align-items: center !important;
    }
    .paper-number{
        margin-top: 0 !important;
    }
    .paper-text4{
        position: relative;
        right: 18px !important; 
    }
    .paper-1{
        border-left: 5px solid #17a2b8;
        border-top: none !important;
    }
    .paper-2{
        border-left: 5px solid rgb(173, 75, 75);
        border-top: none !important;
    }
    .paper-3{
        border-left: 5px solid #28a745;
        border-top: none !important;
    }
    .paper-4{
        border-left: 5px solid #6c757d;
        border-top: none !important;
    }

}


.paper-1 , .paper-2 , .paper-3 , .paper-4{
    height: 15vh;
    flex-basis: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.paper-1{
    border-top: 5px solid #17a2b8;
}
.paper-2{
    border-top: 5px solid rgb(173, 75, 75);
}
.paper-3{
    border-top: 5px solid #28a745;
}
.paper-4{
    border-top: 5px solid #6c757d;
}
.paper-number{
    margin-top: 3%;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "Fira Sans", "Lato", Arial, sans-serif;
}

body{
    font-family: "Fira Sans", "Lato", Arial, sans-serif;
}

.paper-text1 , .paper-text2 , .paper-text3 ,.paper-text4{
    font-size: 1rem;
    color: #fafafa;
    border-radius: 5px;
    padding: 5px;
}

.paper-text1{
    background: #17a2b8;
}
.paper-text2{
    background: rgb(173, 75, 75);
}
.paper-text3{
    background: #28a745;
}
.paper-text4{
    background: #6c757d;
}

.stat-table1{
    width: 98%;
    border-radius: 5px;
    margin-left: auto;
}

hr {
    background-color: #fff;
  }
  
hr.hr-1 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

.info2{
    height: 48% !important;
    border-radius: 5px;
    border-top: 5px solid #6c757d;
    overflow: auto;
}

.info2 div{
    padding: 10px 10px 0 10px;
}

.hotline-div{
    display: flex;
    padding: 10px 0 0 10px;
}

.title-info{
    text-align: center;
    font-weight: 700;
}

.info1{
    height: 48%;
    overflow: auto;
    border-radius: 5px;
    border-top: 5px solid #6c757d;
    margin-top: 4%;
}

.live-tage{
    display: block;
    margin-left: 10px;
}

.worldLoader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    font-weight: 700;
}
